/*BROWSER RESET*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*GENERAL STYLES*/
.button {}
.button:hover{}

/*BODY*/
body {
  font-family: 'Raleway', sans-serif; /* p */
}

/*HEADINGS*/
h1 {
  font-family: 'Raleway', sans-serif; /* p */
  text-transform: uppercase;
  font-size: 45px;
  color: white;
  text-align: right;
}

h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  color: rgb(47, 102, 144);
}

/*PARAGRAPHS and LINKS*/
p, form, a {
  font-family: 'Raleway', sans-serif; /* p */
  color: rgba(127, 140, 141,1.0);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: rgb(47, 102, 144);
}

/*BUTTONS*/
button {
  color: rgb(255, 248, 173);
}

input.submit {
  /*padding: 7px 20px;*/
  padding: 15px;
  min-width: 135px;
  border-radius: 2em;
  border: 1px solid rgba(127, 140, 141,1.0);
  background-color: rgba(127, 140, 141,1.0);
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(255, 248, 173);
  margin: 1em 0;
  line-height: 1em;
  transition: .8s ease;
}

input.submit:hover {
  background-color: rgba(47, 102, 144, 1.0);;
}

/*ICONS LINKS*/
.customer-reviews-section i {
    color: rgb(47, 102, 144);
    font-size: 2em;
    padding: 0.2em;
}

/*Images*/
img {
  max-width: 100%;
}

/*HEADER*/
header {
  padding: 5vh 5vw;
}

nav {
  float: right;
}

nav a {
  color: rgb(255, 248, 173);
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

nav a:hover {
  border-bottom: 1px solid rgb(255, 248, 173);
}

/*HEADER BANNER SECTION*/
header .logo {
  font-family: 'Rochester', cursive;
  display: inline-block;
  float: left;
  color: rgb(255, 248, 173);
  font-size: 20px;
}
.header-banner {
  background-size: cover;
  background-position: center;
  min-height: 50vh;
}
.grey-transparency {
  background-color: rgba(0, 0, 0, 0.5);
}

/*INTRO TAGLINE*/
.intro {
  min-height: 50vh;
  clear: both;
  /*these next 3 properties align it centered horiz and vertic*/
  display:flex;
  align-items: center;
  justify-content: center;
}
.intro-tagline {
  font-family: 'Rochester', cursive;
  font-size: 40px;
  text-transform: capitalize;
  text-align: left;
  display: inline-block;
  width: 29rem;
}

                          /**** HOME PAGE CONTENT ****/

/**** HOME PAGE CONTENT - COMMUNITIES & SEARCH BOXES ****/
.communities-section {
  height: 400px;
}

.communities-content {
  padding: 3rem 5rem;
}

.search-homes-box {
  background-color: rgba(189, 195, 199,1.0);
  padding: 2em 0 0 8em;
}

.search-homes-box span {
  color: rgb(47, 102, 144);
}

.search-homes-box form {
  margin-top: 1em;
  width: 70%;
}

.search-homes-box form label {
  display: inline-block;
}

.search-homes-box form input, .search-homes-box form textarea {
  width: 100%;
  min-height: 3em;
  margin: 0.5em 0;
}

/**** HOME PAGE CONTENT - FEATURED BOXES ****/
.featured-boxes div {
  background-size: cover;
  height: 350px;
}

div.featured-content {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 11.2em;
}
div.featured-content h2, div.featured-content h3 { color: white;}

div.featured-content:hover {
  background-color: rgba(255, 248, 173, 0.5);
  transition: all 1s;
}
div.featured-content:hover h2, div.featured-content:hover h3 { color: rgb(47, 102, 144);}

.featured-homebox-1 {
  background-image: url("../images/featured-rancho-real-estate.jpeg");
  background-position: center;
}
.featured-homebox-2 {
  background-image: url("../images/for-sale-rancho-cucamonga-real-estate.jpeg");
  background-position: center;
}
.services-box-1 {
  background-image: url("../images/buy-home-rancho-cucamonga.jpeg");
  background-position: center;
}
.services-box-2 {
  background-image: url("../images/nadine-sanchez-my-realtor.jpg");
  background-position: top;
}
.services-box-3 {
  background-image: url("../images/sell-home-in-rancho-cucamonga.jpeg");
  background-position: center;
}

/*CUSTOMER REVIEWS SECTION*/
.customer-reviews-section {
  padding: 7vh 7vw;
  text-align: center;
}

.customer-reviews-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-image {
  display: inline-block;
  float: left;
  margin: 1em 0;
}

div.customer-image img {
  width: 150px;
  border-radius: 50%;
}

.customer-reviews-content {
  display: inline-block;
  width: 80%;
  text-align: left;
  line-height: 1.5em;
  margin-left: 4em;
}

/*ABOUT SECTION*/
section.about {}

/* FOOTER MAIN */
footer {
  margin-bottom: 8rem;
}

footer nav {
  float: left;
}

footer nav a {
  color: rgb(47, 102, 144);
  display: inline-block;
  padding: 10px 15px 10px 0;
  text-align: left;
}

footer nav a:hover {
  border-bottom: 1px solid rgb(255, 248, 173);
}

/* FOOTER MID SECTION*/
.map-section {
  background-color: rgba(189, 195, 199,1.0);
  width: 100%;
  padding: 0;
}

footer .getintouch {
  padding: 4em 0 4em 10em;
}

footer span {
  color: rgb(47, 102, 144);
}

footer form {
  margin-top: 1em;
  width: 70%;
}

footer form label {
  display: inline-block;
}

footer form input, footer form textarea {
  width: 100%;
  min-height: 3em;
  margin: 0.5em 0;
}

/* FOOTER LAST SECTION */
.footer-menu-section {
  margin: 4% 7%;
  background-color: white;
}

nav.footer-menu {
  margin: 1em 0;
}
.newsletter-signup-section {
  padding-left: 6%;
  text-align: center;
  align-items: center;
}

form.newsletter-signup {
  margin: 1em auto;
  width: 40%;
}

.social-media-icons i {
  font-size: 3em;
  color: rgb(47, 102, 144);
  text-align: center;
  margin: 0.3em;
}

.social-media-icons i:hover {
  color: rgb(255, 248, 173);
}

/*FOOTER FIXED*/
.footer-fixed {
  background-color: rgb(255, 248, 173);
  /*these next 3 properties align it centered horiz and vertic*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 20%;
}

.footer-fixed a {
  font-size: 20px;
}

.footer-fixed a.button {
  color: rgb(255, 248, 173);
  background-color: rgb(47, 102, 144);
  border: 1px solid rgb(47, 102, 144);
  border-radius: 2em;
  display: inline-block;
  margin: 0.5em 0;
  padding: 15px;
  line-height: 1em;
  transition: .8s ease;
}

.footer-fixed a.button:hover {
  background-color: rgb(127, 140, 141);
  border: 1px solid rgb(127, 140, 141);
  color: rgb(255, 248, 173);
}

.footer-fixed img {
  width: 9%;
  border-radius: 50%;
  margin: 0 2em;
}

.footer-fixed i {
  font-size: 2em;
  color: rgb(47, 102, 144);
}
