



<!DOCTYPE HTML>
<html>
<head>
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.metadesc}}"/>
  <meta name=”viewport” content=”width=device-width, initial-scale=1”>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
  <script src="https://use.fontawesome.com/a9f7b676b3.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Raleway:200,300|Rochester" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
  <section class="header-banner" style="background-image: url('{{page.header-image}}');">
    <div class="grey-transparency">
      <!--header-->
      <header>
        <nav class="grid-spaceBetween nav-grid">
          <div class="col-6 logo">Desiree Sanchez</div>

          <div class="col-6">
            <div class="burger-button menu-button">
              <span class="menu-hide">Explore</span>
            </div>
            <div class="burger-button">
                <span class="burger-top"></span>
                <span class="burger-middle"></span>
                <span class="burger-bottom"></span>
            </div>
             <div class="burger-menu">
              <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">Our Mission</a></li>
                <li><a href="/buy-homes-inland-empire.html">Your Outsourced CMO</a></li>
                <li><a href="/what-we-do.html">What We Do</a></li>
                <li><a href="">Industries We Serve</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!--Intro-->
      <section class="intro">
          <h1>
            <div>{{page.heading}}</div>
            <div class="typing intro-tagline"></div>
          </h1>
      </section>
    </div>
  </section> <!-- end top-banner -->

  {{content}}

  <!-- Footer Section -->
  <footer>
    <!-- map and contact form section -->
    <section class="grid map-section">
      <!-- Map -->
      <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52846.99391637954!2d-117.74928850178371!3d34.12235948008129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c33a947ba7f65f%3A0xd57add892abc374d!2sClaremont%2C%20CA!5e0!3m2!1sen!2sus!4v1573702832338!5m2!1sen!2sus" width="100%" height="103%" frameborder="0" style="border:0;" allowfullscreen></iframe>
      </div>

      <!-- Contact -->
      <div class="col-6 getintouch">
        <h2>Get in Touch</h2>
        <p>
          <span><i class="fa fa-map-marker" aria-hidden="true"></i></span> PO BOX 712 CLAREMONT, CA 91711
        </p>
        <p>
          <span><i class="fa fa-mobile" aria-hidden="true"></i></span> (909) 667 - 2772
        </p>
        <form>
          <label for="name">Your Name</label>
          <input name="name" />
          <label for="email">Your Email</label>
          <input name="email" />
          <label for="phone">Your Phone Number</label>
          <input name="phone" />
          <label for="comment">How can we help you?</label>
          <textarea name="comments" id="comments"></textarea>
          <input name="submit" type="submit" class="submit" value="Send"/>
        </form>
      </div>
    </section>

    <!-- Footer Grid -->
    <section class="grid footer-menu-section">
      <div class="col-7"> <!--Start left column footer -->
        <h3>Honest Marketing Group, LLC</h3>
        <p>
          Serving small to mid-sized businesses nationwide with strategic marketing for 16 years.
        </p>

        <!-- footer menu -->
        <nav class="footer-menu">
          <ul>
          <a href="">Home</a>
          <a href="">Our Mission</a>
          <a href="">Your Outsourced CMO</a>
          <a href="">What We Do</a>
          <a href="">Industries We Serve</a>
          <a href="">Contact</a>
          </ul>
        </nav>

        <div style="clear:both;">
          <!-- legal section-->
          <p>
            <i class="fa fa-copyright" aria-hidden="true"></i> 2020 Honest Marketing Group, LLC All Rights Reserved.
          </p>
          <p>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span> PO BOX 712 CLAREMONT, CA 91711
          </p>
        </div>
      </div><!--end left column footer -->

      <div class="col-5 newsletter-signup-section"><!-- Newsletter signup-->
        <h3>Keep in Touch</h3>

        <form class="newsletter-signup">
          <label for="email">Newsletter Signup</label>
          <input name="email" />
          <input name="submit" type="submit" class="submit" value="Subscribe"/>
        </form>

        <!-- Social Media-->
        <div class="social-media-icons">
          <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/desiree_sanchez_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/desireesanchez/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div><!-- End Newsletter signup-->
    </section>
  </footer> <!-- End Footer Grid -->

  <!-- Fixed Footer Menu -->
  <div class="footer-fixed">
    <a href="#" class="button">CONTACT</a>
    <img src="/images/nadine-sanchez-real-estate-agent-square.jpg"/>
    <a href"#" style="border:none;"><i class="fa fa-mobile" aria-hidden="true"></i> 909-667-2772</a>
  </div>
<!-- my custom js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/typed.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
